.rangeDiv {
    display: flex;
    flex-direction: column;
    width: 427px;
    margin-top: 30px;
}

.rangeValue {
    border: none;
    height: 68px;
    padding-left: 24px;
    border-radius: 16px;
    font-family: Nekst, sans-serif;
    font-size: 36px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.range {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    width: 379px;
    height: 2px;
    margin-top: -2px;
    margin-left: 24px;
    background-image: linear-gradient(#ff9800, #ff9800);
    background-repeat: no-repeat;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff9800;
}