@import url("fonts/nekst/style.css");
@import url("fonts/gilroy/style.css");


body {
    margin: 0;
    font-family: 'Nekst', sans-serif;
    background: #E5E5E5;
}

.div {
    top: 40px;
    right: 40px;
}
